/* User-defined CSS */

button.header-button {
    font-size: large;
    margin-top: 20px;
}

button.homepage-button {
    font-size: x-large;
    padding: 10px;
}

/*
button.action-button {
    margin-right: 10px;
}
*/

.homepage-cell {
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

td, th {
    padding-right: 20px;
}

table.tags-list {
    border: 1px solid black;
}

button.remove-tag {
    font-size: small;
}

ul.navigation {
    border-bottom: 1px solid #eee;
}

ul.navigation li {
    display: inline;
    background-image: url("/static/icons/nav-sep.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 3px 2px;
    background-size: 12px 12px;
    padding-left: 20px;
}

ul.navigation li.home {
    padding-left: 0px;
    background-image: none;
}

td, th {
    padding-top: 2px;
    padding-bottom: 2px;
}

table.mplist {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

table.mplist thead tr th, table.mplist tbody tr td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
}

.mpstart, .mpmid, .mpend {
    border-top: 2px solid #f00;
    border-bottom: 2px solid #f00;
    background: #fee;
}

.mpstart {
    border-left: 2px solid #f00;
}

.mpend {
    border-right: 2px solid #f00;
}

.outside-key-month {
    color: #999;
}
