{{/*
    browse-meals.html contains the list of meals page.
*/}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Browse Meals :: Meal Planner</title>
        
        {{template "common-head.inc.html"}}
        
        <script type="text/javascript">
            $(document).ready(function() {
                $("#add-meal").click(function() {
                    location.href = "/meals/new";
                });
                
                MPAjax.fetchMealList(function(meals) {
                    MPUtil.renderMealList(meals, $("#results"));
                });
            });
        </script>
    </head>
    
    <body>
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="navigation">
                            <li class="home"><a href="/">Home</a></li>
                            <li>Meals</li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-8">
                        <h1>Browse Meals</h1>
                    </div>
                    <div class="col-md-4">
                        <button title="Add a new meal" class="header-button" id="add-meal">
                            <img src="/static/img/add-meal_32x32.png" height="24" alt=""/>
                            Add new meal
                        </button>
                    </div>
                </div>
            </div>
            
            <div id="results">
                <img src="/static/img/loading.gif" alt=""/>
                Loading results...
            </div>
            
            {{template "footer.inc.html"}}
        </div>
    </body>
</html>
