{{/*
    browse-meals.html contains the list of meals page.
    
    Dot is expected to be a struct/map containing a field 'Highlight' of type
    bool and a field 'MealID' of integral type.
*/}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Browse Meals :: Meal Planner</title>
        
        {{template "common-head.inc.html"}}
        
        <script type="text/javascript" src="/static/js/meallistview.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#add-meal").click(function() {
                    location.href = "/meals/new";
                });
                
                var view = new MealListView($("#results"));
                view.addColumn(new MealListViewColumns.NameColumn("meal-list-name"));
                view.addColumn(new MealListViewColumns.TagsColumn("meal-list-tags"));
                view.addColumn(new MealListViewColumns.ActionsColumn("meal-list-action", "meal-list-actions"));
                
                view.setSearchCallback(function(query, cb) {
                    MealResult.fetchMealList(query, function(items) {
                        view.setData(items);
                        cb();
                    });
                });
                
                view.render();
                
                view.searchCallback("", function() {
                    {{if .Highlight}}
                        view.highlightItemByID({{.MealID}});
                    {{end}}
                });
            });
        </script>
    </head>
    
    <body>
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="navigation">
                            <li class="home"><a href="/">Home</a></li>
                            <li>Meals</li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-8">
                        <h1>Browse Meals</h1>
                    </div>
                    <div class="col-md-4">
                        <button title="Add a new meal" class="header-button" id="add-meal">
                            <img src="/static/img/add-meal_32x32.png" height="24" alt=""/>
                            Add new meal
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8" id="results">
                    <img src="/static/img/loading.gif" alt=""/>
                    Loading results...
                </div>
            </div>
            
            {{template "footer.inc.html"}}
        </div>
    </body>
</html>
