{{/*
    create-mp-form.html contains the form used for creating meal plans.
*/}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Meal Plan :: Meal Planner</title>
        
        {{template "common-head.inc.html"}}
        
        <script type="text/javascript">
            function validateStartDate(start) {
                var ok = true, msg = "";
                
                if (start == null) {
                    ok = false;
                    msg = "Please use the format 'dd/mm/yyyy'.";
                }
                
                if (ok) {
                    $("#start-validation").slideUp();
                }
                else {
                    $("#start-validation td").text(msg);
                    $("#start-validation").slideDown();
                }
                
                return ok;
            }
            
            function validateEndDate(start, end) {
                var ok = true, msg = "";
                
                if (end == null) {
                    ok = false;
                    msg = "Please use the format 'dd/mm/yyyy'.";
                }
                
                if (ok && start > end) {
                    ok = false;
                    msg = "The start date cannot be after the end date.";
                }
                
                if (ok) {
                    $("#end-validation").slideUp();
                }
                else {
                    $("#end-validation td").text(msg);
                    $("#end-validation").slideDown();
                }
                
                return ok;
            }
            
            function validateDates() {
                var startStr = $("#start").val();
                var endStr = $("#end").val();
                
                var start = MPUtil.parseDatepickerDate(startStr);
                var end = MPUtil.parseDatepickerDate(endStr);
                
                return validateStartDate(start) && validateEndDate(start, end);
            }
            
            $(document).ready(function() {
                $("#form").submit(function() {
                    if (!validateDates()) return false;
                });
            });
        </script>
    </head>
    
    <body>
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="navigation">
                            <li class="home"><a href="/">Home</a></li>
                            <li><a href="/mealplans">Meal plans</a></li>
                            <li>Create new</li>
                        </ul>
                    </div>
                </div>
                
                <h1>Create Meal Plan</h1>
            </div>
            
            <form action="" method="post" id="form">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="start">From:</label>
                            </td>
                            <td>
                                <input type="text" name="start" id="start" size="15" class="datepicker" placeholder="dd/mm/yyyy"/>
                            </td>
                        </tr>
                        
                        <tr id="start-validation">
                            <td class="error" colspan="2"></td>
                        </tr>
                        
                        <tr>
                            <td>
                                <label for="end">To:</label>
                            </td>
                            <td>
                                <input type="text" name="end" id="end" size="15" class="datepicker" placeholder="dd/mm/yyyy"/>
                            </td>
                        </tr>
                        
                        <tr id="end-validation">
                            <td class="error" colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
                
                <p style="padding-top: 10px">
                    <button title="Reset the form" id="reset" type="reset">
                        <img src="/static/img/reset_16x16.png" height="16" alt=""/>
                        Reset
                    </button>
                </p>
                
                <p style="padding-top: 10px">
                    <button title="Create a meal plan from scratch" type="submit" name="auto" value="false">
                        <img src="/static/img/save_16x16.png" height="16" alt=""/>
                        Create a meal plan manually
                    </button>
                </p>
                
                <p style="padding-top: 10px">
                    <button title="Create a meal plan, automatically using the top suggestion for each day" type="submit" name="auto" value="true">
                        <img src="/static/img/save_16x16.png" height="16" alt=""/>
                        Create a meal plan automatically
                    </button>
                </p>
            </form>
            
            {{template "footer.inc.html"}}
        </div>
    </body>
</html>
