{{/*
    edit-mp-form.html contains the form used for editing meal plans.
    
    Dot is expected to be the ID of the meal plan to be edited.
*/}}

<!DOCTYPE html>
<html>
    <head>
        <title>Edit Meal Plan :: Meal Planner</title>
        
        {{template "common-head.html"}}
        
        <script type="text/javascript">
            $(document).ready(function() {
                MPAjax.fetchServings({{.}}, function(results) {
                    results = results || [];
                    
                    var i, result, row;
                    for (i = 0; i < results.length; i++) {
                        result = results[i];
                        
                        row = $("<tr>").appendTo(results);
                        $("<td>").text(result.date).appendTo(row);
                        $("<td>").text(result.mealname).appendTo(row);
                    }
                });
            });
        </script>
    </head>
    
    <body>
        <div class="container">
            <h1>Edit Meal Plan</h1>
            
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Serving</th>
                    </tr>
                </thead>
                <tbody id="servings"></tbody>
            </table>
        </div>
    </body>
</html>
