{{/*
    edit-mp-form.html contains the form used for editing meal plans.
    
    Dot is expected to be of type *mpdata.MealPlan.
*/}}

<!DOCTYPE html>
<html>
    <head>
        <title>Edit Meal Plan :: Meal Planner</title>
        
        {{template "common-head.html"}}
        
        <script type="text/javascript">
            function addServingRow(result) {
                var date = new Date(Date.parse(result.date));
                var row = $("<tr>");
                
                $("<td>")
                    .text(MPUtil.formatDateHumanReadable(date))
                    .appendTo(row);
                
                var a = $("<a href='#'>")
                    .text(result.hasmeal ? result.mealname : "(click to add meal)")
                    .appendTo($("<td>").appendTo(row))
                    .click(function(event) {
                        event.preventDefault();
                        
                        MPAjax.fetchSuggestions(date, function(meals) {
                            MPUtil.renderMealList(meals, $("#meal-list"), function(mt) {
                                MPAjax.updateServing({{.ID}}, date, mt.meal.id, function() {
                                    a.text(mt.meal.name);
                                });
                                
                                $("#dialog").dialog("close");
                            });
                            
                            $("#dialog").dialog("open");
                        });
                    });
                
                $("<button><img src='/static/icons/delete_16x16.png' height='16' alt='Delete'/></button>")
                    .appendTo($("<td>").appendTo(row))
                    .click(function(event) {
                        event.preventDefault();
                        
                        MPAjax.deleteServing({{.ID}}, date, function() {
                            a.text("(click to add meal)");
                        });
                    });
                
                return row;
            }
            
            $(document).ready(function() {
                $("#dialog").dialog({
                    autoOpen: false,
                    draggable: true,
                    height: 600,
                    modal: true,
                    resizable: true,
                    title: "Edit serving",
                    width: 800,
                });
                
                MPAjax.fetchServings({{.ID}}, function(results) {
                    results = results || [];
                    
                    var container = $("#servings");
                    
                    var i;
                    for (i = 0; i < results.length; i++) {
                        container.append(addServingRow(results[i]));
                    }
                });
            });
        </script>
    </head>
    
    <body>
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="navigation">
                            <li class="home"><a href="/">Home</a></li>
                            <li><a href="/mealplans">Meal plans</a></li>
                            <li><a href="/mealplans/{{.ID}}">{{.StartDate.Format "02 Jan"}} - {{.EndDate.Format "02 Jan"}}</a></li>
                            <li>Edit</li>
                        </ul>
                    </div>
                </div>
                
                <h1>Edit Meal Plan</h1>
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Serving</th>
                        <th>
                    </tr>
                </thead>
                <tbody id="servings"></tbody>
            </table>
        </div>
        
        <div id="dialog">
            <div id="meal-list"></div>
        </div>
    </body>
</html>
