{{/*
    edit-mp-form.html contains the form used for editing meal plans.
    
    Dot is expected to be of type *mpdata.MealPlan.
*/}}

<!DOCTYPE html>
<html>
    <head>
        <title>Edit Meal Plan :: Meal Planner</title>
        
        {{template "common-head.inc.html"}}
        
        <script type="text/javascript" src="/static/js/meallistview.js"></script>
        <script type="text/javascript">
            var selectedServingDate = null;
            var selectedServingLink = null;
            
            function updateServing(item) {
                MPAjax.updateServing({{.ID}}, selectedServingDate, item.id, function() {
                    selectedServingLink.text(item.name);
                });
                
                $("#dialog").dialog("close");
            }
            
            function addServingRow(view, result) {
                var date = new Date(Date.parse(result.date));
                var row = $("<tr>");
                
                $("<td>")
                    .text(MPUtil.formatDateHumanReadable(date))
                    .appendTo(row);
                
                var a = $("<a href='#'>")
                    .text(result.hasmeal ? result.mealname : "(click to add meal)")
                    .appendTo($("<td>").appendTo(row))
                    .click(function(event) {
                        event.preventDefault();
                        selectedServingDate = date;
                        selectedServingLink = a;
                        
                        view.setFetchDataCallback(function(params, cb) {
                            MealResult.fetchSuggestions({{.ID}}, date, function(items) {
                                cb(items);
                                $("#dialog").dialog("open");
                            });
                        });
                        view.fetchData();
                        
                        /*
                        MPAjax.fetchSuggestions(date, function(suggs) {
                            MPUtil.renderSuggestions(suggs, $("#meal-list"), function(mt) {
                                MPAjax.updateServing({{.ID}}, date, mt.meal.id, function() {
                                    a.text(mt.meal.name);
                                });
                                
                                $("#dialog").dialog("close");
                            });
                            
                            console.log(suggs);
                            
                            $("#dialog").dialog("open");
                        });
                        */
                    });
                
                $("<button title='Delete this serving'><img src='/static/img/delete_24x24.png' height='16' alt='Delete'/></button>")
                    .appendTo($("<td>").appendTo(row))
                    .click(function(event) {
                        event.preventDefault();
                        
                        MPAjax.deleteServing({{.ID}}, date, function() {
                            a.text("(click to add meal)");
                        });
                    });
                
                return row;
            }
            
            function loadServings(deletedItem) {
                var view = this;
                
                MPAjax.fetchServings({{.ID}}, function(results) {
                    results = results || [];
                    
                    var container = $("#servings").empty();
                    
                    var i;
                    for (i = 0; i < results.length; i++) {
                        container.append(addServingRow(view, results[i]));
                    }
                });
            }
            
            $(document).ready(function() {
                $("#dialog").dialog({
                    autoOpen: false,
                    draggable: true,
                    height: 600,
                    modal: true,
                    title: "Edit serving",
                    width: 800,
                });
                
                $("#save-notes").click(function(event) {
                    event.preventDefault();
                    
                    $("#save-text").html("<img src='/static/img/loading.gif' height='16' alt=''/> Saving...");
                    $("#save-text").show();
                    
                    MPAjax.updateNotes({{.ID}}, $("#notes").val(), function() {
                        $("#save-text").text("Saved!");
                        
                        window.setTimeout(function() {
                            $("#save-text").toggle("fade");
                        }, 3000);
                    });
                });
                
                var view = new MealListView($("#results"));
                view.addColumn(new MealListViewColumns.NameColumn("sugg-list-name"));
                view.addColumn(new MealListViewColumns.TagsColumn("sugg-list-tags"));
                view.addColumn(new MealListViewColumns.ScoreColumn("sugg-list-score"));
                view.addColumn(new MealListViewColumns.ActionsColumn("sugg-list-actions"));
                view.setItemCallback(updateServing);
                view.setDeleteCallback(loadServings);
                view.render();
                
                loadServings.call(view, null);
            });
        </script>
    </head>
    
    <body>
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="navigation">
                            <li class="home"><a href="/">Home</a></li>
                            <li><a href="/mealplans">Meal plans</a></li>
                            <li><a href="/mealplans/{{.ID}}">{{.StartDate.Format "02 Jan"}} - {{.EndDate.Format "02 Jan"}}</a></li>
                            <li>Edit</li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-8">
                        <h1>Edit Meal Plan</h1>
                        <h3>{{.StartDate.Format "02 Jan"}} - {{.EndDate.Format "02 Jan"}}</h3>
                    </div>
                    <div class="col-md-4">
                        <a href="/mealplans/{{.ID}}">Return to meal plan</a>
                    </div>
                </div>
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th colspan="2">Serving</th>
                    </tr>
                </thead>
                <tbody id="servings"></tbody>
            </table>
        
            <hr/>
            
            <div class="row">
                <div class="col-md-8">
                    <textarea id="notes" style="width: 100%">{{.Notes}}</textarea>
                </div>
                
                <div class="col-md-4">
                    <p>
                        <button title="Save these contents of the text box as the meal plan's notes" id="save-notes">
                            <img src="/static/img/save_16x16.png" height="16" alt=""/>
                            Save notes
                        </button>
                    </p>
                    
                    <p id="save-text"></p>
                </div>
            </div>
            
            {{template "footer.inc.html"}}
        </div>
        
        <div id="dialog">
            <div id="results"></div>
        </div>
    </body>
</html>
