{{/*
    edit-meal-form.html contains the form used for adding and editing meals.
    
    Dot is expected to be of type mpdata.MealWithTags. If empty, the "add meal"
    form is displayed, else the "edit meal" form is displayed.
*/}}

<!DOCTYPE html>
<html lang="en">
    <head>
        {{if .}}
            <title>Edit Meal :: Meal Planner</title>
        {{else}}
            <title>Create Meal :: Meal Planner</title>
        {{end}}
        
        {{template "common-head.html"}}
        
        <script type="text/javascript">
            function addTag(tag) {
                var row = $("<tr>").data("tag", tag).appendTo($("#tags"));
                $("<td>").text(tag).appendTo(row);
                
                $("<button title='Remove this tag from the list' class='remove-tag'><img src='/static/img/delete_24x24.png' height='16' alt='Remove'/></button>")
                    .appendTo($("<td>").appendTo(row))
                    .click(function(event) {
                        event.preventDefault();
                        row.remove();
                    });
            }
            
            function validateMealName(input) {
                var ok = true, msg = "";
                
                if (input.length < 1 || input.length > 255) {
                    ok = false;
                    msg = "Meal name must be between 1 and 255 characters in length (inclusive)";
                }
                
                if (ok) {
                    $("#name-validation").slideUp();
                }
                else {
                    $("#name-validation td").text(msg);
                    $("#name-validation").slideDown();
                }
                
                return ok;
            }
            
            function validateTag(input) {
                var ok = true, msg = "";
                
                if (input.length < 1 || input.length > 64) {
                    ok = false;
                    msg = "Tag must be between 1 and 64 characters in length (inclusive)";
                }
                
                if (ok) {
                    $("#tag-validation").slideUp();
                }
                else {
                    $("#tag-validation td").text(msg);
                    $("#tag-validation").slideDown();
                }
                
                return ok;
            }
            
            $(document).ready(function() {
                $("#name-validation").hide();
                $("#tag-validation").hide();
                
                // Bind event handlers
                
                // Validate upon submitting form.
                $("#form").submit(function() {
                    // Validate inputs
                    if (!validateMealName($("#name").val())) return false;
                    //if (!validateRecipeLink($("#recipe").val())) return false;
                    
                    // Send tags on form submission
                    $("#tags tr").each(function() {
                        var tag = $(this).data("tag");
                        $("<input>")
                            .attr("type", "hidden")
                            .attr("name", "tags")
                            .attr("value", tag)
                            .appendTo($("#form"));
                    });
                });
                
                // Implement adding existing tags.
                $("#add-existing-tag").click(function(event) {
                    event.preventDefault();
                    
                    addTag($("#existing-tag").val());
                });
                
                // Implement adding new tags.
                $("#add-new-tag").click(function(event) {
                    event.preventDefault();
                    
                    var tag = $("#new-tag").val();
                    
                    if (!validateTag(tag)) return false;
                    
                    addTag(tag);
                    $("#new-tag").val("");
                });
                
                // Implement resetting the tags list on reset.
                $("#reset").click(function() {
                    $("#tags").empty();
                    
                    {{range .Tags}}
                        addTag("{{. | js}}");
                    {{end}}
                });
                
                // Implement pressing enter in various text boxes;
                $("#name").bind("enterKey", function() {
                    $("#form").submit();
                });
                $("#recipe").bind("enterKey", function() {
                    $("#form").submit();
                });
                $("#new-tag").bind("enterKey", function() {
                    $("#add-new-tag").click();
                });
                
                // Initialise the tags list.
                $("#reset").click();
                
                // Initialise existing tags list.
                MPAjax.fetchAllTags(function(tags) {
                    MPUtil.renderExistingTagsList(tags, $("#existing-tag"));
                });
            });
        </script>
    </head>
    
    <body>
        <div class="container">
            <div class="page-header">
                {{if .}}
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="navigation">
                                <li class="home"><a href="/">Home</a></li>
                                <li><a href="/meals">Meals</a></li>
                                <li><a href="/meals?highlight={{.Meal.ID}}">{{.Meal.Name}}</a></li>
                                <li>Edit</li>
                            </ul>
                        </div>
                    </div>
                    
                    <h1>Edit meal: {{.Meal.Name}}</h1>
                
                {{else}}
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="navigation">
                                <li class="home"><a href="/">Home</a></li>
                                <li><a href="/meals">Meals</a></li>
                                <li>Create new</li>
                            </ul>
                        </div>
                    </div>
                    
                    <h1>Create meal</h1>
                {{end}}
            </div>
            
            <form action="" method="post" id="form">
                <div style="margin-bottom: 40px">
                    <table>
                        <tr>
                            <td>
                                <label for="name">Name of meal:</label>
                            </td>
                            <td>
                                <input type="text" name="name" id="name" size="50" value="{{.Meal.Name}}"/>
                            </td>
                        </tr>
                        <tr id="name-validation">
                            <td class="error" colspan="2"></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="recipe">Link to recipe (optional):</label>
                            </td>
                            <td>
                                <input type="text" name="recipe" id="recipe" size="50" value="{{.Meal.RecipeURL}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="favourite">Favourite:</label>
                            </td>
                            <td>
                                <input type="checkbox" name="favourite" id="favourite" value="yes" {{if .Meal.Favourite}}checked="checked"{{end}} />
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div style="margin-bottom: 40px">
                    <fieldset>
                        <legend>Tags</legend>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <table class="tags-list">
                                    <tbody id="tags"></tbody>
                                </table>
                            </div>
                            
                            <div class="col-md-8">
                                <table>
                                    <tr>
                                        <td>
                                            Add an existing tag:
                                        </td>
                                        <td>
                                            <select id="existing-tag" style="min-width: 100px"></select>
                                        </td>
                                        <td>
                                            <button title="Add the tag in the drop-down to the list" id="add-existing-tag">
                                                <img src="/static/img/add_16x16.png" height="16" alt=""/>
                                                Add
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            or add a new tag:
                                        </td>
                                        <td>
                                            <input type="text" id="new-tag" size="15"/>
                                        </td>
                                        <td>
                                            <button title="Add the tag in the text box to the list" id="add-new-tag">
                                                <img src="/static/img/add_16x16.png" height="16" alt=""/>
                                                Add
                                            </button>
                                        </td>
                                    </tr>
                                    <tr id="tag-validation">
                                        <td class="error" colspan="3"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <p>
                    <button title="Reset the form" id="reset" type="reset">
                        <img src="/static/img/reset_16x16.png" height="16" alt=""/>
                        Reset
                    </button>
                    
                    <button title="Save the meal to the database" type="submit">
                        <img src="/static/img/save_16x16.png" height="16" alt=""/>
                        Save
                    </button>
                </p>
            </form>
        </div>
    </body>
</html>
