{{/*
    error.html contains a page to display in the event of an HTTP error.
    
    Dot is expected to be of type *mphandlers.HTTPError.
*/}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.ShortDesc}} :: Meal Planner</title>
        
        {{template "common-head.inc.html"}}
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="navigation">
                            <li class="home"><a href="/">Home</a></li>
                            <li>Error</li>
                        </ul>
                    </div>
                </div>
                
                <h1>{{.ShortDesc}}</h1>
            </div>
            
            <p>
                {{.LongDesc}}
            </p>
            
            <p>
                Please use your browser's Back button to go back and try again.
            </p>
            
            {{template "footer.inc.html"}}
        </div>
    </body>
</html>
