{{/*
    home.html contains the homepage.
*/}}

<html>
    <head>
        <title>Home :: Meal Planner</title>
        
        {{template "common-head.html"}}
        
        <script type="text/javascript">
            $(document).ready(function() {
                $("#create-meal-plan").click(function(event) {
                    event.preventDefault();
                    location.href = "/mealplans/new";
                });
                
                $("#browse-meal-plans").click(function(event) {
                    event.preventDefault();
                    location.href = "/mealplans";
                });
                
                $("#add-meal").click(function(event) {
                    event.preventDefault();
                    location.href = "/meals/new";
                });
                
                $("#browse-meals").click(function(event) {
                    event.preventDefault();
                    location.href = "/meals";
                });
            });
        </script>
    </head>
    <body>
        <h1>Home</h1>
        <ul>
            <li>
                <button id="create-meal-plan">Create a meal plan</button>
            </li>
            <li>
                <button id="browse-meal-plans">Browse meal plans</button>
            </li>
            <li>
                <button id="add-meal">Add a meal</button>
            </li>
            <li>
                <button id="browse-meals">Browse meals</button>
            </li>
        </ul>
    </body>
</html>
