{{/*
    home.html contains the homepage.
*/}}

<html>
    <head>
        <title>Home :: Meal Planner</title>
        
        {{template "common-head.html"}}
    </head>
    <body>
        <h1>Home</h1>
        <ul>
            <li>
                <button id="create-meal-plan">Create a meal plan</button>
            </li>
            <li>
                <button id="browse-meal-plans">Browse meal plans</button>
            </li>
            <li>
                <button id="add-meal">Add a meal</button>
            </li>
            <li>
                <button id="browse-meals">Browse meals</button>
            </li>
        </ul>
    </body>
</html>
