{{/*
    home.html contains the homepage.
*/}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home :: Meal Planner</title>
        
        {{template "common-head.html"}}
        
        <script type="text/javascript">
            $(document).ready(function() {
                // Bind event handlers
                
                $("#create-meal-plan").click(function(event) {
                    event.preventDefault();
                    location.href = "/mealplans/new";
                });
                
                $("#browse-meal-plans").click(function(event) {
                    event.preventDefault();
                    location.href = "/mealplans";
                });
                
                $("#add-meal").click(function(event) {
                    event.preventDefault();
                    location.href = "/meals/new";
                });
                
                $("#browse-meals").click(function(event) {
                    event.preventDefault();
                    location.href = "/meals";
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Home</h1>
            </div>
            
            <div class="row">
                <div class="col-md-6 homepage-cell">
                    <button class="homepage-button" id="create-meal-plan">
                        <img src="/static/icons/add-meal-plan_32x32.png" height="32" alt=""/>
                        Create a meal plan
                    </button>
                </div>
                <div class="col-md-6 homepage-cell">
                    <button class="homepage-button" id="browse-meal-plans">
                        <img src="/static/icons/browse-meal-plans_32x32.png" height="32" alt=""/>
                        Browse meal plans
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 homepage-cell">
                    <button class="homepage-button" id="add-meal">
                        <img src="/static/icons/add-meal_32x32.png" height="32" alt=""/>
                        Add a meal
                    </button>
                </div>
                <div class="col-md-6 homepage-cell">
                    <button class="homepage-button" id="browse-meals">
                        <img src="/static/icons/browse-meals_32x32.png" height="32" alt=""/>
                        Browse meals
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
